# Dependencies
node_modules

# Build outputs
.next
out
build
dist
coverage

# Configuration files
*.config.js
*.config.mjs
*.config.ts
next-env.d.ts

# Public assets
public

# Environment files
.env*

# Cache directories
.cache
.vercel

# Database files
*.db
*.sqlite

# Logs
*.log
npm-debug.log*
