.mainGrid {
  gap: 16px;
  padding-top: 220px;
  color: var(--foreground);
}

.mainInfo {
  align-items: center;
  padding: 0 10% 200px;
  gap: 24px;
  line-height: 1.4;
}

.mainInfo h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 30px;
}

.mainInfoBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainInfoText {
  font-size: 32px;
  text-align: justify;
  color: #ccc;
  width: auto;
  min-width: 400px;
}

.mainInfoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.mainInfoImage img {
  padding-top: 8px;
  height: 100%;
  max-height: 300px;
}

@media (max-width: 1024px) {
  .mainInfoBody {
    grid-template-columns: 1fr;
  }

  .mainInfoImage {
    margin-top: 100px;
    width: 100%;
  }
}

/* about us section */
.aboutUs {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  margin: 0 10% 250px;
}

.aboutUs h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 25px;
  text-align: center;   
}

.aboutUs h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 45px;
  text-align: center;   
}

.aboutUsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  column-gap: 100px;
  justify-self: center;
}

.profile {
  place-items: center;
  width: 300px;
  border: solid;
  border-radius: 20px;
  background-color: #818181;
}

.memberPicture {
  display: flex;
  height: 100px;
  border-radius: 50px;
  margin: 20px 0 20px;
}

.memberName {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.memberRole {
  font-size: 16px;
  margin-bottom: 10px;
}

.memberBackground {
  font-size: 16px;
  margin-bottom: 10px;
}

.profileLinks img {
  height: 30px;
  margin: 0 10px 16px;
}

@media (max-width: 1100px) and (min-width: 769px) {
  .aboutUsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .aboutUsGrid {
    grid-template-columns: 1fr;
  }
}

/* CTA buttons */
/* .ctas {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.primary {
  background: var(--foreground);
  color: var(--background);
  border-radius: 24px;
  padding: 12px 24px;
  font-weight: 500;
  transition: 0.2s;
}

.primary:hover {
  background: #383838;
} */
